<a href="https://colab.research.google.com/github/AparnaRameshA95/PythonCodes/blob/main/Python_Basics_Pracice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a Python program to accept a string value from the user and display the count of each character in that string.

Sample input: Enter a string value: assembly

Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [27]:
Str1='assembly'
List1=[]
for i in Str1:
    List1.append(i)

for letter in List1:
  count=0
  for i in List1:
    if i==letter:
      count+=1
    else:
      continue
  print(letter,'-',count,end=' ')

a - 1 s - 2 s - 2 e - 1 m - 1 b - 1 l - 1 y - 1

2.Write a Python function to find the maximum of three numbers

Sample input: 34,12,7

Sample output: 34

In [28]:
numbers = [34,12,7]

max_num = numbers[0]

for i in numbers:
    if i > max_num:
       max_num = i

print(f'{max_num} is the maximum of three numbers')

34 is the maximum of three numbers

3.Write a Python function called exponent(base,exp) that returns an integer value of base raises to the power of exp.

Sample input: Enter the base: 2 , Enter the exponent: 3

Sample output: 8

In [35]:
base = int(input('Enter the base: '))
exp = int(input('Enter the exponent: '))

def exponent(base,exp):
  if exp==0:
    return 1
  elif exp>0:
    return base**exp
  else:
    return 1/base**(-exp)

result = exponent(base,exp)

print(result)

Enter the base: 2
Enter the exponent: 3
8

4.Write a Python function that takes a positive integer and returns the sum of the cube of all the positive integers smaller than the specified number.

Sample input: 4

Sample output: 36.

In [2]:
n = int(input('Enter a positive integer : '))
def sum_of_cubes(n):
    if n <= 0:
        return "Input must be a positive integer"

    sum_cubes = 0
    for i in range(1, n):
        sum_cubes += i ** 3

    return sum_cubes


print(sum_of_cubes(n))

Enter a positive integer : 4
36

5.Write a Python program which iterates from 1 to 10. For multiples of 2, print “Fizz” instead of the number and for the multiples of 5, print “Buzz”. For numbers which are multiples of both 2 and 5, print “FizzBuzz”.

Sample input: numbers from 1 to 10

Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9 FizzBuzz

In [3]:
for i in range(1,11):
  if i%2==0 and i%5==0:
    print('FizzBuzz')
  elif i%2==0:
    print('Fizz',end=' ')
  elif i%5==0:
    print('Buzz',end=' ')
  else:
    print(i,end=' ')

1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9 FizzBuzz

6.Write a Python program to find the most frequent item in a list of numbers.

Sample input: 2, 3, 4, 2, 5, 2

Sample output: 2

In [4]:
List1=[2,3,4,2,5,2]
for num in List1:
  count=0
  max_count=0
  for i in List1:
    if i==num:
      count+=1

  if count>max_count:
    frequent_number=num
    max_count=count
print("The most frequent item is:", frequent_number)

The most frequent item is: 2

7.Write a Python program to find the sum of squares of the numbers in a list.

Sample input: 2,1,3,1

Sample output: 15

In [5]:
list1=[2,1,3,1]
sum=0
for i in list1:
  square = i*i
  sum += square

print('The sum of squares of the numbers in a list is  ',sum)

The sum of squares of the numbers in a list is   15

8.Write a Python program using for loop that will iterate from 1 to 15. For each iteration, check if the current number is odd or even, and display the message to the screen as odd or even.

Sample input: 1….15

Sample output: 1-odd 2-even …. 15-odd

In [6]:
for i in range(1,16):
  if i%2==0:
    print(i,'-even',end=' ')
  else:
    print(i,'-odd',end=' ')

1 -odd 2 -even 3 -odd 4 -even 5 -odd 6 -even 7 -odd 8 -even 9 -odd 10 -even 11 -odd 12 -even 13 -odd 14 -even 15 -odd

9.Write a Python program to convert temperatures to and from Celsius Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f= temperature in Fahrenheit.]

Sample input: Temperature in Fahrenheit =41

Sample output: Temperature in Celsius =5

In [7]:
F = int(input('Enter Temperature in Fahranheit = '))
C = (F-32)*5/9
print('Temperature in Celsius = ',C)

Enter Temperature in Fahranheit = 41
Temperature in Celsius =  5.0

10.Write a Python function to calculate the factorial of a number (a nonnegative integer). The function accepts the number as an argument.

Sample input: 3

Sample output: 6

In [8]:
n = int(input('Enter n = '))

def factorial(n):
  if n ==0 or n ==1:
    return 1
  else:
    fact = 1
    for i in range(1,n+1):
      fact *= i
    return fact

print('Factorial of', n , 'is' , factorial(n))

Enter n = 3
Factorial of 3 is 6