<a href="https://colab.research.google.com/github/AparnaRameshA95/PythonCodes/blob/main/Python_Basics_practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PRACTICE EXERCISES ON PYTHON BASICS -1**

1.Write a Python program which accepts the radius of a circle from the user
and compute the area.

Sample input: Enter the radius: 3

Sample output: Area of Circle is 28.59999999999

In [ ]:
r = int(input('Enter radius of the circle = '))
Area = 3.14*r*r
print(Area)

Enter radius of the circle = 3
28.259999999999998

2.Write a Python Program to accept the details of a student like name, roll
number and mark and display it.

Sample input:

Enter the name: Anisha

Enter the roll number: 21

Enter the mark: 78

Sample output:

Name: Anisha

Roll No: 21

Mark: 78

In [ ]:
n = input('Enter the name: ')
r = int(input('Enter the roll number: '))
m = int(input('Enter the mark: '))
print('Name:',n)
print('Roll No:',r)
print('Mark:',m)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Name: Anisha
Roll No: 21
Mark: 78

3.Write a Python program to get the largest number from a list.

Sample input: 12, 3, 47, 10

Sample output: 47 is the largest number.

In [ ]:
numbers = [12, 3, 47, 10]

max_num = numbers[0]

for i in numbers:
    if i > max_num:
       max_num = i

print(f'{max_num} is the largest number')

47 is the largest number

4.Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.

Sample input: 1….10

Sample output: Current Number 1 Previous Number 0 Sum: 1 Current Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [ ]:
sum = 0
for i in range(1,11):
  a = i
  b = i - 1
  sum = a + b
  print(f'Current Number: {a} , Previous Number: {b} , Sum: {sum}')

Current Number: 1 , Previous Number: 0 , Sum: 1
Current Number: 2 , Previous Number: 1 , Sum: 3
Current Number: 3 , Previous Number: 2 , Sum: 5
Current Number: 4 , Previous Number: 3 , Sum: 7
Current Number: 5 , Previous Number: 4 , Sum: 9
Current Number: 6 , Previous Number: 5 , Sum: 11
Current Number: 7 , Previous Number: 6 , Sum: 13
Current Number: 8 , Previous Number: 7 , Sum: 15
Current Number: 9 , Previous Number: 8 , Sum: 17
Current Number: 10 , Previous Number: 9 , Sum: 19

5.Write a Python program to print only those numbers which are divisible
of 5.

Sample input: 10, 20,33,46,55

Sample output: 10, 20, 55

In [ ]:
list1=[10,20,33,46,55]
for i in list1:
  if i%5==0:
    print(i)

10
20
55

6.Write a Python program to check whether a number is prime or not.

Sample input: Enter the number: 3

Sample output: 3 is a prime number.

In [ ]:
n=int(input('enter a number:  '))
if n>1:
  for i in range(2,n):
    if n%i==0:
      print(n,'not a prime number')
      break
  else:
      print(n,'is a prime number')
else:
  print(n,'is not a prime number')

enter a number:  7
7 is a prime number

7.Write a Python program to reverse a list using for loop.

Sample input: 10,40,30,70

Sample output: 70,30,40,10

In [ ]:
list1 = [10,40,30,70]
print('List before reverse : ',list1)
reversed_list = []
for i in list1:
  reversed_list = [i] + reversed_list
print("List after reverse : ", reversed_list)

List before reverse :  [10, 40, 30, 70]
List after reverse :  [70, 30, 40, 10]

8.Write a Python program to print the following pattern.

.... *
     
.... **

.... ***

.... ****

In [ ]:
for i in range(4):
  for j in range(i+1):
    print('*',end='')
  print()

*
**
***
****

9.Write a Python program to find the maximum of three numbers

Sample input: 34,12,7

Sample output: 34

In [ ]:
numbers = [34,12,7]

max_num = numbers[0]

for i in numbers:
    if i > max_num:
       max_num = i

print(f'{max_num} is the maximum of three numbers')

34 is the maximum of three numbers

10.Write a Python program to construct the following pattern, using a
nested for loop.

.... *

.... **

.... ***

.... ****

.... *****

.... ****

.... ***

.... **

.... *

In [2]:
n = 5

for i in range(n):

  for j in range(i):
    print('* ', end="")

  print('')


for i in range(n, 0, -1):

  for j in range(i):
    print('* ', end="")

  print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*